.m-nav {
	text-align: center;
	background-color: $white !important;
	border-bottom: 1px solid $tlk-light-grey-2;
	padding-top: 0; 
	padding-bottom: 0; 

	.navbar-nav {
		display: block;
		width: 100%;
		text-align: center;
	}

	.nav-item {
		
		@include media-breakpoint-up(md) {
			display: inline-block;
		}

		a {
			display: block;
			padding: $spacer * 1.25 $spacer;
			color: $black;
			font-size: $font-size-lg;

			&:hover {
				text-decoration: none;
			}

			&.active {
				color: $tlk-red;
				font-weight: $font-weight-bold;
			}
		}
	}

	.navbar-toggler {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		border-color: $tlk-light-grey;
		border-radius: 0;
		width: 50px;
		padding: $spacer / 1.5;

		span {
			display: block;
			height: 3px;
			margin: 3px 0;
			width: 100%;
			background-color: $black;
		}
	}


	.dropdown {
		padding-right: $spacer / 2;
		
		&:after {
			@extend .custom-icon;
			content: "\69";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -$spacer / 2;
			transition: $transition-base;
		}

		&.show {
			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}

	}

	.dropdown-menu {
		border-top: 0;
		border-radius: 0;
		top: calc(100% - 2px);

		.dropdown-item {
			padding: 0.25rem 1.5rem;

			&:active,
			&.active {
				background-color: $tlk-light-grey;
			}
		}
	}

}

.m-nav-outer {
	position: sticky;
    top: -1px;
    z-index: 1000;	
}