.form-control {
    border-radius: 0;
}

select.form-control {
    appearance: none;
}

.select-wrapper {
    position: relative;
    &:after {
        @extend .custom-icon;
        content: "\69";
        font-size: $font-size-lg * 1.25;
        height: 36px;
        width: 50px;
        background-color: $tlk-grey;
        position: absolute;
        right: 1px;
        top: 1px;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.file-upload {
    padding: $spacer / 1.5;
    background-color: $tlk-light-grey;
    border: 1px solid $tlk-grey;

    input {
        font-size: $font-size-sm;
    }

}

.form-control-file {
    border: 1px solid transparent;
}

.form-control-file.is-valid {
    border-color: $green;
}

.form-control-file.is-invalid {
    border-color: $red;
}