// Backgrounds

.bg-light-grey {
    background-color: $tlk-light-grey;
}

.bg-pale-yellow {
    background-color: $tlk-pale-yellow;
}

.hr-black {
    border-color: $black;
}

// Black bg title
.sub-black-title {
    background-color: $black;
    color: $white;
    font-size: $font-size-lg;
    padding: $spacer;
    position: relative;
    width: 100%;
    pointer-events: none;

    @include media-breakpoint-up(md) {
        padding: 0 $spacer * 2 $spacer * 2;
    }

    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            color: $white;
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 98%;
        width: 100%;
        height: 50px;
        left: 0;
        background: linear-gradient(to top, rgba($black, 1) 0%,rgba($black, 0) 100%);
    }

    &--image {
        position: absolute;
        bottom: 0;
    }
}

.lds-facebook {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 6px;
	width: 13px;
	background: $black;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
	left: 6px;
	animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
	left: 26px;
	animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
	left: 45px;
	animation-delay: 0;
}

@keyframes lds-facebook {
	0% {
		top: 6px;
		height: 51px;
	}
	50%,
	100% {
		top: 19px;
		height: 26px;
	}
}