// Colours
$tlk-light-grey: #f8f8f8 !default;
$tlk-light-grey-2: #dfdfdf !default;
$tlk-grey: #eee !default;
$tlk-dark-grey: #b2b2b2 !default;
$tlk-red: #c42719 !default;
$tlk-dark-red: #700000 !default;
$tlk-light-red: rgba($tlk-red, .3) !default;
$tlk-black-red: #060100 !default;
$tlk-yellow: #ffd000 !default;

// Fonts
$special-font: "Futura W01" !default;
$special-font-weight: 400 !default;
$condensed-font: "Proxima Nova W05" !default;
$condensed-font-weight: 700 !default;