// Colours
$tlk-light-grey: #f8f8f8 !default;
$tlk-light-grey-2: #dfdfdf !default;
$tlk-red: #c42719 !default;
$tlk-black-red: #060100 !default;

// Fonts
$special-font: "Futura W01" !default;
$special-font-weight: 400 !default;
$condensed-font: "Proxima Nova W05" !default;
$condensed-font-weight: 700 !default;