@font-face{
    font-family:"Futura W01_n4";
    src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Futura W01";
    src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix");
    src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot"),url("fonts/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"),url("fonts/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff"),url("fonts/c2a69697-4f06-4764-abd4-625031a84e31.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W05_n3";
    src:url("fonts/c48b9e64-9616-4651-8136-26dcc90b518f.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W05";
    src:url("fonts/c48b9e64-9616-4651-8136-26dcc90b518f.eot?#iefix");
    src:url("fonts/c48b9e64-9616-4651-8136-26dcc90b518f.eot?#iefix") format("eot"),url("fonts/27f5855e-1f73-42cc-a083-cb0f319ea42a.woff2") format("woff2"),url("fonts/f44944f0-b92e-4152-9ea1-eb41de241416.woff") format("woff"),url("fonts/b3ca6462-e5b3-4cfd-9c86-69bd1444273f.ttf") format("truetype");
font-weight: 300;
font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W05_n4";
    src:url("fonts/3bc45708-b148-4161-9d38-fa10e8cd8ed7.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W05";
    src:url("fonts/3bc45708-b148-4161-9d38-fa10e8cd8ed7.eot?#iefix");
    src:url("fonts/3bc45708-b148-4161-9d38-fa10e8cd8ed7.eot?#iefix") format("eot"),url("fonts/33ca2000-af7b-4444-97cd-6392ab2e24b2.woff2") format("woff2"),url("fonts/1c003cc6-0f8f-4c82-adde-a5a026b56b50.woff") format("woff"),url("fonts/96dc6d98-013d-4a94-9c09-8476abc0abc6.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W05_n6";
    src:url("fonts/9a48aea6-1175-475c-9ca0-e88402e8c3e3.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W05";
    src:url("fonts/9a48aea6-1175-475c-9ca0-e88402e8c3e3.eot?#iefix");
    src:url("fonts/9a48aea6-1175-475c-9ca0-e88402e8c3e3.eot?#iefix") format("eot"),url("fonts/3c35dc60-9fe3-480f-90ac-e453db0271e2.woff2") format("woff2"),url("fonts/2b2b7939-693b-44cd-873a-1aa065a906b8.woff") format("woff"),url("fonts/b3268637-7b92-4f81-9d7f-1ee8e8a5d517.ttf") format("truetype");
font-weight: 600;
font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W05_n7";
    src:url("fonts/dc3c5a9d-3a35-40dd-93ba-f3a465e2466e.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W05";
    src:url("fonts/dc3c5a9d-3a35-40dd-93ba-f3a465e2466e.eot?#iefix");
    src:url("fonts/dc3c5a9d-3a35-40dd-93ba-f3a465e2466e.eot?#iefix") format("eot"),url("fonts/ec91c4e8-bae8-4c5f-968c-912a29db69f2.woff2") format("woff2"),url("fonts/51a8b213-e0e4-40c8-aba7-b151d994819c.woff") format("woff"),url("fonts/a902769d-058c-461a-a91c-e99efae4347a.ttf") format("truetype");
font-weight: 700;
font-style: normal;
}
@font-face{
    font-family:"Proxima Nova W01_n6";
    src:url("fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Proxima Nova W01";
    src:url("fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
    src:url("fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("fonts/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),url("fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype");
font-weight: 600;
font-style: normal;
}


@font-face {
    font-family: "the-lion-king-2019";
    src:url("fonts/the-lion-king-2019.eot");
    src:url("fonts/the-lion-king-2019.eot?#iefix") format("embedded-opentype"),
    url("fonts/the-lion-king-2019.woff") format("woff"),
    url("fonts/the-lion-king-2019.ttf") format("truetype"),
    url("fonts/the-lion-king-2019.svg#the-lion-king-2019") format("svg");
    font-weight: normal;
    font-style: normal;
}

.custom-icon,
[data-icon]:before {
  font-family: "the-lion-king-2019" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "the-lion-king-2019" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-f:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-youtube:before {
  content: "\64";
}
.icon-spotify:before {
  content: "\65";
}
.icon-map-marker:before {
  content: "\66";
}
.icon-phone:before {
  content: "\67";
}
.icon-plus:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6b";
}
.icon-left-open:before {
  content: "\6c";
}
.icon-right-open:before {
  content: "\6d";
}
.icon-up-open:before {
  content: "\68";
}
.icon-down-open:before {
  content: "\69";
}
