@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=492ff5f6-ecf8-48e8-b54e-5bfa6c5c1874");
@font-face{
  font-family:"Futura W01_n4";
  src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Futura W01";
  src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix");
  src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot"),url("fonts/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"),url("fonts/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff"),url("fonts/c2a69697-4f06-4764-abd4-625031a84e31.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:"Proxima Nova W05_n7";
  src:url("fonts/5207e333-6f8d-41bc-88fc-6df1c40bbcc8.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Proxima Nova W05";
  src:url("fonts/5207e333-6f8d-41bc-88fc-6df1c40bbcc8.eot?#iefix");
  src:url("fonts/5207e333-6f8d-41bc-88fc-6df1c40bbcc8.eot?#iefix") format("eot"),url("fonts/c7fca85b-6a1a-47e7-8481-c6d9f75379ce.woff2") format("woff2"),url("fonts/d5a10d06-4ec9-45ae-b98e-851a430aa29f.woff") format("woff"),url("fonts/f4b3de90-cc0b-45bb-adb1-cf59ab6920cb.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family:"Proxima Nova W01_n3";
  src:url("fonts/e8f2600c-16a1-410f-b420-2cbe8b0067c2.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Proxima Nova W01";
  src:url("fonts/e8f2600c-16a1-410f-b420-2cbe8b0067c2.eot?#iefix");
  src:url("fonts/e8f2600c-16a1-410f-b420-2cbe8b0067c2.eot?#iefix") format("eot"),url("fonts/81ff3c05-82e3-444e-969c-8e929cb1e89e.woff2") format("woff2"),url("fonts/464a0e7d-109d-470d-93ee-c32cd7f7f308.woff") format("woff"),url("fonts/3ccb61ca-981f-47ec-a6d6-c056d3077b3a.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family:"Proxima Nova W01_n4";
  src:url("fonts/cc5225e4-eeef-4026-9b23-4705456d018c.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Proxima Nova W01";
  src:url("fonts/cc5225e4-eeef-4026-9b23-4705456d018c.eot?#iefix");
  src:url("fonts/cc5225e4-eeef-4026-9b23-4705456d018c.eot?#iefix") format("eot"),url("fonts/50c8f38e-4f2b-4a0a-b65b-7fc6e078563d.woff2") format("woff2"),url("fonts/e96e70c4-309b-48dd-a8b8-3d0ac4fe93aa.woff") format("woff"),url("fonts/4b53c685-9f0f-492a-997d-de616fab68b2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:"Proxima Nova W01_n6";
  src:url("fonts/006cf5a6-3160-4bac-b09c-67768e92beff.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Proxima Nova W01";
  src:url("fonts/006cf5a6-3160-4bac-b09c-67768e92beff.eot?#iefix");
  src:url("fonts/006cf5a6-3160-4bac-b09c-67768e92beff.eot?#iefix") format("eot"),url("fonts/708d4ebe-3d9b-464f-9ff5-cb83654ee70f.woff2") format("woff2"),url("fonts/9d85e1ee-1cb6-4e49-98ab-3cea67c4bf7d.woff") format("woff"),url("fonts/3a33aacc-067e-4c9f-886e-5bb797b32e0d.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
    font-family: "the-lion-king-2019";
    src:url("fonts/the-lion-king-2019.eot");
    src:url("fonts/the-lion-king-2019.eot?#iefix") format("embedded-opentype"),
    url("fonts/the-lion-king-2019.woff") format("woff"),
    url("fonts/the-lion-king-2019.ttf") format("truetype"),
    url("fonts/the-lion-king-2019.svg#the-lion-king-2019") format("svg");
    font-weight: normal;
    font-style: normal;
}

.custom-icon,
[data-icon]:before {
  font-family: "the-lion-king-2019" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "the-lion-king-2019" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-f:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-youtube:before {
  content: "\64";
}
.icon-spotify:before {
  content: "\65";
}
.icon-map-marker:before {
  content: "\66";
}
.icon-phone:before {
  content: "\67";
}
.icon-plus:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6b";
}
.icon-left-open:before {
  content: "\6c";
}
.icon-right-open:before {
  content: "\6d";
}
.icon-up-open:before {
  content: "\68";
}
.icon-down-open:before {
  content: "\69";
}
